@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

.ebonyClay {background-color: rgb(47,52,70);color: rgb(217,230,233);}
.swissCoffee {background-color: rgb(217,211,208);color: rgb(115,23,107);}
.martiniqueCopper {background-color: rgb(52,55,81);color: rgb(194,133,54);}
.voodooFireBush {background-color: rgb(75,54,86);color: rgb(230,164,40);}
.pickledBluewoodJaffa {background-color:rgb(43,67,85);color:rgb(246,112,71);}
.martiniqueBourbon {background-color:rgb(43,45,73);color:rgb(195,124,25);}
.shipGrayMischka {background-color:rgb(57,49,62);color:rgb(228,222,231);}

.Mischka {color:rgb(228,222,231);}

:root {
    /*--header-bg-color: rgb(57,49,62);
    --header-font-color: rgb(228,222,231);*/

    --header-bg-color: rgb(49, 49, 49);
    --header-font-color: rgb(228,222,231);

    --icon-color:rgb(57,49,62);
    --date-Color:rgba(57,49,62,0.8);

    --link-underline-color:rgb(217,211,208);

    --link-color:rgb(43,45,73);
    --link-color-hover:rgb(194,133,54);

    --header-border-color:rgb(228,222,231);
    --light-border-color:rgba(217,211,208,0.6);
    --dark-border-color:hsl(0, 0%, 35%);

    --body-bg:rgb(26,27,37);

    --cover-letter-bg: rgb(49, 49, 49);
    --cover-letter-head-bg: rgb(255, 255, 255);
    --cover-letter-body-color: rgb(255,255,255);
    --cover-letter-head-color: rgb(49, 49, 49);
    --cover-letter-light-italic: rgb(183, 183, 183);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


body {
    background-color: var(--body-bg);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

}
h1,h2,h3,h4 {
    font-family: 'Open Sans', sans-serif;
}
form {
    display:none;
}


a {
    border: 0 solid transparent;
    border-bottom-width: 2px;

    text-decoration: none;
    transition: border-bottom-color 0.4s;

    color: var(--link-color)
}
a:hover {
    border-color: chocolate;
    color: var(--link-color-hover)
}


.pageSeperator {
    position: fixed;
    border-top:1px solid red;
    width: 100%;

    z-index: 999;
    left:0;
    top:297mm;
}
.App {
    background-color: white;
    min-height:100vh;
    width:100%;
    max-width: 210mm;
    margin:auto;
    box-shadow: black 0px 0px 15px;


    display: grid;
    grid-template-areas:"head     head"
                        "main     aside"
                        "other    other"
                        "foot     foot";
    grid-column-gap: 0;
    grid-column: auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 175px;
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    padding:20px;
    grid-area:head;

    text-align: center;
}
header h1 {
    padding-bottom: 18px;
    margin: auto auto -16px;
    border-bottom:2px solid var(--header-border-color);

    width:70%;
}

header h2 {
    display: inline-flex;
    padding:0 15px;
    background-color: var(--header-bg-color);
}


.basicInfo{
    padding-top:20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.basicInfo>div {
    width:150px;
}
.phone{}
.email{}
.location{}


main {
    padding:33px 40px;
    grid-area: main;
    box-shadow: 5px 0 3px rgba(0,0,0,0.1);
}

main>article, aside>article {
    padding-top: 15px;
    padding-bottom: 15px;
}
main>article:first-child, aside>article:first-child {
    padding-top: 0;
}
main>article:last-child, aside>article:last-child {
    padding-bottom: 0;
}

main>article>h3, aside>article>h3 {
    border-bottom: black 1px solid;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: 300;
}

.skills {}
.skillsList {
    display: flex;
    flex-wrap:wrap;
    font-size: 0.8rem;
}
.skill {
    margin:6px 10px;
    border: 0 solid var(--light-border-color);
    border-bottom-width: 1px;
}


.experiences {}
.experienceList {}

.experience {
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid var(--light-border-color);
}
.experience:first-child {padding-top: 0;}
.experience:last-child {padding-bottom: 0;border-bottom: 0;}

.expTitle {}
.expTitle small {
    font-weight: 300;
}
.expDate {
    font-weight: 300;
}
.date {
    font-size: 0.8em;
    margin-top: -2px;
}
.description {
    font-size: 0.85em;
}
.descList {
    padding-left:20px;
    font-size: 0.90em;
    margin-top:5px;
}
.descList li:before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    color:rgba(57,49,62,0.8);
    width: 1em;
    margin-left:-1em;
}


.publications {}
.publicationsList {}
.publication {}
.publication p {
    font-size: 0.9em;
    margin-bottom: 10px;
}
.pubLang {
    display: flex;
    font-style: italic;
    font-weight: lighter;
}
.pubLang li {
    margin:0 10px;
}
.pubLang li:first-child {margin-left:0;}
.pubLang li:last-child {margin-right:0;}

.pubLink {
    color:gray;
    display: flex;
    font-style: italic;
}

.pubLink svg {max-width: 16px;}


aside {
    padding:33px 40px;
    grid-area: aside;
    background-color: rgba(61,61,61,0.06);
}

.strengths ul li {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0 solid var(--light-border-color);
    border-bottom-width: 1px;
}
.strengths ul li:last-child {
    margin-bottom: 0;
    border:0;
}

.strength, .expDate, .eduDate {
    display: flex;
    align-items: center;
}
.strength>div:last-child, .expDate>div:last-child, .eduDate>div:last-child {
    padding-left: 5px;
    margin-top:-2px;
}

.expDate,.eduDate {
    color:var(--date-Color);
}
.expDate svg, .eduDate svg {
    max-width: 16px;
}

.strength svg, .sosMedIcon svg{
    max-width: 20px;
    color: var(--icon-color);
}

.sosMed {}
.sosMedIcon {
    display: flex;
    align-items: center;
}
.sosMedIcon svg {
    max-width: 16px;
    margin-top:2px;
    margin-bottom: -2px;
}
.sosMedIcon div:last-child {
    padding-left:8px;
    margin-top:-1px;
}

.otherInfo {
    grid-area: other;
}

.projects {min-height: 297mm; margin-top:20px;}
.projectsHeader {
    padding: 20px 40px;
}
.projectsList {
    background-color: hsl(0, 0%, 19%);
    min-height: 20px;
    display: flex;
    width: 100%;
}
.project {
    text-align: center;
    padding:20px;
    width: 50%;
}
.project:nth-child(odd) {
    border-right: 1px dashed var(--dark-border-color);
}
.project:nth-child(n+3) {
    border-top: 1px dashed var(--dark-border-color);
}


.coverLetter {
    min-height: 297mm;
    height:297mm;
    width: 100%;
    background-color: var(--cover-letter-bg);
    margin-top:20px;
}
.coverLetter>div {
    padding:60px 80px;
}
.coverLetter .Head{
    min-height: 175px;
    background-color: var(--cover-letter-head-bg);
    position: relative;
    box-shadow:0 30px 36px -30px rgba(0,0,0,0.5);
}
.coverLetter .Head h3 {
}

.coverLetter>.Head>.time {
    position: absolute;
    bottom: 40px;
    left: 80px;
}

.coverLetter .Signature{
    min-height: 200px;
    color: var(--cover-letter-body-color);
}
.coverLetter .Signature i {
    color: var(--cover-letter-light-italic);
    font-size: small;
}
.coverLetter .Signature>div {
    border-bottom:1px solid var(--light-border-color);
    width:180px;
    padding-bottom:10px;
}
.coverLetter .Signature img {
    max-width: 150px;
    margin-top:20px;
}

.coverLetter .Body {
    min-height: calc(297mm - 50% - 200px);
    color: var(--cover-letter-body-color);
    position: relative;
}
.coverLetter .Body .paragraphs {
    margin: 30px 0;
}
.coverLetter .Body .BodyParas {
    position: absolute;
    top: 50%;
    left:50%;
    width: calc(100% - 160px);
    transform: translate(-50%, -50%);
}


footer {
    grid-area: foot;
    padding:5px;
    text-align: center;
    font-size: small;
    font-style: italic;
    font-weight: lighter;
}

footer:after{
    content: "This CV was built with React. Designet by André T. Lønvik 2020 (andre@lonvik.no)";
    opacity: 20%;
}

@media print {
    @page{margin: 0;}
    body{
        font-size: 0.7rem;
        width: 210mm;
        height: 297mm;
        min-height: 297mm;
        margin: 0;
        /* change the margins as you want them to be. */
    }
    .sizer {
        height: calc(297mm - 175px);
    }
    .App {
        min-height: 297mm;
    }
    .projects {
        min-height: 297mm;
    }
    .coverLetter {
        font-size: 1.2em;
    }
    .pageSeperator {display:none;}
    footer {display: none;height:0;}
}